root = true

[*]
# 文字コードの設定
charset = utf-8
# 改行コードの設定
end_of_line = lf
# インデントのスタイルを設定(space / tab)
indent_style = tab
# インデントのサイズを設定
indent_size = tab
# tabのサイズを設定
tab_width = 4
# 文末のスペースを削除するかの設定
trim_trailing_whitespace = true