{
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": false
}